{% extends 'base.html.twig' %}

{% block title %}Hello GrumpyChefController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/fpondepeyre/workspace/workshop/workshop-kibana/src/Controller/GrumpyChefController.php'|file_link(0) }}">src/Controller/GrumpyChefController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/fpondepeyre/workspace/workshop/workshop-kibana/templates/grumpy_chef/index.html.twig'|file_link(0) }}">templates/grumpy_chef/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}